.about {
    background-color: $backgroundcolor;
    padding: 20px;
    max-height: 100px;
    transition: 0.5s;
    overflow: hidden;
    opacity: 0.8;
}

.about h2 {
    font-size: 22px;
}

.about p {
    font-size: 18px;
}

.about:hover {
    max-height: 800px;
}

.about ul {
    margin-top: 20px;
    justify-content: space-between;
}

@media screen and (min-width: 300px) {

   .about h2 {
       font-size: 32px;
   } 

   .about p {
       font-size: 22px;
   }

}

@media screen and (min-width: 1150px) {

    .about {
        flex-direction: row;
        width: 520px;
        padding: 25px;
        margin: 30px;
    }

}