.projects {
    background-color: $backgroundcolor;
    width: 100%;
    left: 0px;
    height: 80%;
}

.projects {
    padding: 25px 0px 15px 0px;
    border-top: 2px solid $headercolor;
}

.projects h2 {
    text-align: left;
    font-size: 30px;
    padding-right: 10px;
    line-height: 1.5;
}

.search-bar {
    margin: 20px;
}

.search-bar img {
    height: 25px;
    padding: 0px 8px;
    margin-right: 10px;
    margin-bottom: -5px;
}

.search-bar input {
    height: 30px;
    width: 70%;
    font-size: 20px;
    font-family: $mainfont;
    padding: 0px 5px;
}

.filter-tag {
    padding: 8px;
}

.filters {
    width: 94%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba($maincolor, $alpha: 0.1);
    margin: 3%;
}

.filter {
    padding: 8px;
    transition: 0.2s;
    cursor: pointer;
}

.filter:hover {
    color: $headercolor;
    letter-spacing: 1px;
}

.results {
    margin: 3%;
    padding: 3%;
    height: 60%;
    width: 88%;
    background-color: rgba($highlightcolor, $alpha: 0.2);
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    z-index: -10;
}

.result-container {
    max-width: 300px;
    min-height: 150px;
    max-height: 250px;
    z-index: 1;
}

.result {
    max-width: 200px;
    max-height: 0px;
    transition: 1s;
    padding: 0px 25px;
    padding-top: 150px;
    padding-bottom: -200px;
    overflow: hidden;
    font-size: 15px;
    z-index: 20;
}

.result-bg {
    min-height: 150px;
    max-height: 250px;
    max-width: 300px;
    transition: 1s;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: -150px;
    pointer-events: none;
}

.result-container:hover .result-bg {
    filter: blur(10px) brightness(200%);
    opacity: 0.5;
}

.result-container:hover .result {
    max-height: 200px;
    padding: 25px;
    background-color: rgba($backgroundcolor, $alpha: 0.9);
}

.result-container:hover .result  .result-title {
    display: inline;
}

.result .result-title {
    font-family: $headerfont;
    display: none;
}

.result-more {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.result .filters {
    padding: 10px;
    margin: 10px 0px 10px 0px;
    font-size: 15px;
}

.project-description-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.project-description {
    max-height: 30px;
    overflow: hidden;
}

.project-select {
    min-width: 35px;
    height: auto;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
}

.project-select:hover {
    opacity: 0.4;
}

.project-filter {
    padding: 2px;
    cursor: pointer;
}

@media screen and (min-width: 450px) {

        
    .search-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        
    .search-bar input {
        width: 50%;
    }

    .search-bar img {
        height: 30px;
        margin-bottom: 0px;
    }

}

@media screen and (min-width: 1100px) {
    
    .search-bar input {
        width: 70%;
    }

}