.project-view {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 4;
    background-color: $backgroundcolor;
    transition: 0.2s;

    display: flex;
    flex-direction: column;
    padding: 25px;
}

