// sass --watch public/styles/sass:public/styles/css --style compressed

@import "_reset.scss";
@import "_vars.scss";

@import "components/_links.scss";
@import "components/_directory.scss";
@import "components/_menu.scss";
@import "components/_parallax.scss";
@import "components/_projects.scss";
@import "components/_projectview.scss";
@import "components/_video.scss";


#index {
    margin: 10%;
    overflow-y: hidden;
}

.homebg {
    max-height: 100%;
    position: fixed;
    z-index: -5;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.hidden {
    display: none;
}

.home {
    display: flex;
    flex-direction: column;
    margin-bottom: 85px;
}

.logo-main {
    width: 80%;
    height: auto;
    margin: 125px auto 100px auto;
}


.digital-witch {
    position: absolute;
    width: 96%;
    top: 0px;
    left: 0px;
    background-color: $backgroundcolor;
    margin: 0px;
    height: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 10px solid $headercolor;
}

.digital-witch .link-container {
    width: 100%;
    max-height: 30px;
    margin: auto auto;
    justify-content: space-evenly;
}

.digital-witch .link-container .link {
    max-width: 28px;
    flex: 0 1 15px;
    padding: 3px;
}

.dw-top {
    display: flex;
    flex-direction: row;
    margin: 0px;
    justify-content: center;
}

.dw-top img {
    width: auto;
    height: 50px;
}

.dw-top div {
    padding-left: 10px;
    padding-top: 10px;
}

.dw-top div h2 {
    font-size: 16px;
    color: #5A2066;
}

.dw-top div h3 {
    color: #991B2C;
    font-family: $mainfont;
    font-size: 14px;
}

footer {
    background-color: $headercolor;
    color: $backgroundcolor;
    font-size: 20px;
    text-align: right;
    width: 96%;
    position: absolute;
    left: 0px;
    padding: 2%;
}

.main {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
}

@media screen and (min-width: 300px) {

    .logo-main {
        width: 50%;
        margin: 125px auto 100px auto;
    }

    .dw-top div h2 {
        font-size: 22px;
    }

    .dw-top div h3 {
        font-size: 18px;
    }

    .dw-top {
        margin: 5px 0px;
    }

    .digital-witch .link-container {
        margin: auto 0px auto auto;
        padding: 5px;
    }

    .digital-witch .link-container .link {
        max-width: 35px;
    }
}

@media screen and (min-width: 450px) {

    .digital-witch {
        flex-direction: row;
    }

    .digital-witch .link-container {
        max-height: 100px;
        max-width: 100px;
        margin: auto 0px auto auto;
        justify-content: space-evenly;
        margin: auto 0px auto auto;
    }

    .digital-witch .link-container .link {
        max-width: 35px;
    }

    .dw-top div h2 {
        font-size: 28px;
    }

    .dw-top div h3 {
        font-size: 22px;
    }
    
    .dw-top {
        margin: 15px 0px;
    }

    .dw-top img {
        height: 60px;
    }


}

@media screen and (min-width: 1150px) {

    #index {
        margin: 10%;
    }

    .home {
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
        justify-content: center;
    }
    
    .digital-witch {
        position: relative;
        width: 550px;
        background-color: $backgroundcolor;
        margin: 30px;
        height: auto;
        padding: 10px;
        justify-content: space-between;
        border-bottom: 10px solid $headercolor;
    }

    .home-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        align-items: flex-end;
    }

    
    .digital-witch .link-container {
        width: auto;
        max-height: 100px;
        padding: 0px;
        align-items: flex-end;
        margin: auto 0px auto auto;
        background-color: $backgroundcolor;
        justify-content: space-evenly;
    }

    .logo-main {
        width: 500px;
        height: auto;
        margin: 125px auto 100px auto;
    }

}